# Understand joins concepts and syntax

https://learn.microsoft.com/en-us/training/modules/query-multiple-tables-with-joins/2-join-concepts

- **Cartesian Product **
-  Combination of ALL RECORDS in the JOINED tables.
	- This usually what we dont want in JOINS
- **INNER JOIN**
,	-** LEFT
	-** RIGHT
    - **FULL**
	- **GUIDLINES FOR USING OUTER JOIN **
		- As you have seen, table aliases are preferred not only for the SELECT list, but also for the ON clause.
		- As with an INNER JOIN, an OUTER JOIN may be performed on a single matching column or on multiple matching attributes.
		- Unlike an INNER JOIN, the order in which tables are listed and joined in the FROM clause does matter with OUTER JOIN, as it will determine whether you choose LEFT or RIGHT for your join.
		- Multi-table joins are more complex when an OUTER JOIN is present. The presence of NULLs in the results of an OUTER JOIN may cause issues if the intermediate results are then joined to a third table. Rows with NULLs may be filtered out by the second join's predicate.
		- To display only rows where no match exists, add a test for NULL in a WHERE clause following an OUTER JOIN predicate.
		- A FULL OUTER JOIN is used rarely. It returns all the matching rows between the two tables, plus all the rows from the first table with no match in the second, plus all the rows in the second without a match in the first.
		- There is no way to predict the order the rows will come back without an ORDER BY clause. Thereâ€™s no way to know if the matched or unmatched rows will be returned first.
- **CROSS JOIN**
	- Take note that we dont us `ON` in `CROSS JOIN` ( will cause an error)

- **SELF JOIN**
	- Recursive Relationship
	- Guidlines on Self Joining
		- Define two instances of the same table in the FROM clause, and join them as needed, using inner or outer joins.
		- Use table aliases to differentiate the two instances of the same table.
		- Use the ON clause to provide a filter comparing columns of one instance of the table with columns from the other instance of the table.

In [20]:
SELECT TOP 10 `Region` FROM sales_raw;
-- SHOW columns from sales_raw;

: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '10 `Region` FROM sales_raw' at line 1")

In [ ]:
SELECT * FROM sales_raw T1 CROSS JOIN sales_raw as T2 -- DONT RUN THIS